$background-color: #282a36;
$main-txt-color: #f8f8f2;
$discret-txt-color: #6272a4;
$pattern-txt-color: #50fa7b;
$error: #ff5555;
$purple: #ff79c6;
*{
  margin: 0;
  padding: 0;
  terxt-decoration: none;
  box-sizing: border-box;
}

.terminal{
  padding: 16px;
  width: 100%;
  height: 100vh;
  background-color: $background-color;
  color: $main-txt-color;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  .banner{
    font-size: 20px;
  }
  .pattern{
    color: $pattern-txt-color;
  }
  .txtbar{
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
  }
  .answer{
    margin-left: 24px;
  }
  .answerError{
    margin-left: 24px;
    color: $error !important;
  }
  td{
    padding-right: 32px;
  }
  .purple{
    color: $purple;
  }
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}